Checks: '
google-*,
-*-objc-*,
-*.cocoa.*,
-clang-analyzer-core.NullDereference,
-clang-analyzer-optin.cplusplus.UninitializedObject,
-clang-analyzer-optin.cplusplus.VirtualCall,
-clang-analyzer-security.insecureAPI.rand,
-clang-diagnostic-undefined-bool-conversion,
-google-build-using-namespace,
-google-default-arguments,
-google-explicit-constructor,
-google-readability-braces-around-statements,
-google-readability-casting,
-google-readability-todo,
-google-runtime-references
'

WarningsAsErrors: '*'
